@use "../base/mixins" as *;

.filter {
  position: relative;

  @include mq(mobile-tablet-only) {
    width: 100%;
  }

  .filter--active & {
    position: absolute;
    inset: 0;
    background-color: var(--bg-base);
  }
}

.filter-opener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  @include mq(desktop) {
    @include visually-hidden;
  }

  .filter--active & {
    position: fixed;
    top: 24px;
    left: 16px;
    right: 16px;
    background-color: var(--bg-base);
    padding: 10px 24px;
  }
}

.filter-drop {
  position: fixed;
  top: 90px;
  left: 0;
  width: 0;
  height: 0;
  background: var(--bg-alt);
  z-index: 3;
  transition: all 1000ms ease-in-out;
  opacity: 0;
  overflow-y: auto;

  @include mq(desktop) {
    height: auto;
    width: 100%;
    background: none;
    position: static;
    opacity: 1;
  }

  .filter--active & {
    opacity: 1;
    left: 16px;
    right: 16px;
    bottom: 16px;
    width: unset;
    height: calc(100vh - 80px);
  }
}

.filter--active {
  overflow: hidden;
}
