@use "../base/mixins" as *;

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  @include mq(tablet) {
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    pointer-events: all;
  }
}

.nav__link {
  position: relative;
  display: flex;
  padding: 18px 32px;

  color: var(--text-icons-elements-primary, #0D0D15);
  text-align: center;
  font-weight: 600;
  border-radius: 8px;

  transition: transform var(--transition), color var(--transition);

  @include mq(tablet) {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
  }

  &:hover {
    color: var(--accent-color);
    transform: scale(1.2);
  }

  &:active {
    color: var(--accent-color);
    transform: scale(1.2);
  }

  &:focus {
    outline: none;
    border-radius: 5px;
    border: 4px solid var(--accent-color);
    color: var(--accent-color);
    transform: scale(1.2);
  }
}

.nav__link--current {
    color: var(--accent-color);
    transform: scale(1.2);
}

// =========== <<< side-menu >>> ============

.side-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 0;
  height: 0;
  background: var(--bg-alt);
  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  transition: transform var(--transition), opacity var(--transition);
  transform: translateX(-10px);

  @include mq(tablet) {
    height: auto;
    position: static;
    flex-basis: 50%;
    opacity: 1;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0;
    transform: translateX(0);
    background: none;
  }

  .side-menu--active & {
    opacity: 1;
    width: calc(100% - 32px);
    height: calc(100vh - 32px);
    z-index: 20;
    pointer-events: all;
    transform: translateX(0);

    @include mq(tablet) {
      height: auto;
    }
  }

}
.side-menu--active {
  overflow: hidden;
}
