{% extends "layouts/base.njk" %}
{% block content %}
  <main class="container section contacts">
    <h1 class="visually-hidden">contacts</h1>
    {% include "partials/contact-page/contacts-info.njk" %}
    {% include "partials/contact-page/contacts-form-section.njk" %}
  </main>
{% endblock %}
