{% extends "layouts/base.njk" %}
{% block content %}
  <main class="container section contacts">
    {% include "partials/contact-page/contacts-info.njk" %}
    {% include "partials/contact-page/contacts-form-section.njk" %}
  </main>
{% endblock %}
