{% extends "layouts/base.njk" %}
{% block content %}
  <main>
    {% include "partials/index-page/hero.njk" %}
    {% include "partials/index-page/features.njk" %}
    {% include "partials/index-page/categories.njk" %}
    {% include "partials/index-page/products.njk" %}
    {% include "partials/index-page/plan.njk" %}
    {% include "partials/index-page/faq.njk" %}
    {% include "partials/index-page/articles.njk" %}
  </main>
{% endblock %}
