<section class="container section faq">
  <div class="faq__info">
    <h3 class="title-tag faq__tag">faq</h3>
    <h2 class="title faq__title">Answers to Your Questions</h2>
    <a
      class="button button--secondary faq__link"
      href="#"
      title="Link to ask us a question"
      target="_blank"
      id="ask-us-a-question-btn"
      aria-labelledby="ask-us-a-question-btn">
      Ask Us A Question
    </a>
  </div>
  <div class="faq__list">
    {% for i in faq %}
      <details class="{{ i.class }} faq__item">
        <summary class="title-xs faq__question" aria-labelledby="{{ i.aria_labelledby }}">
          <span id="{{ i.aria_labelledby }}">{{ i.faq_question }}</span>
          <button class="button-icon button-icon--secondary faq__button" type="button" title="Open and close answer button" aria-label="Open and close answer button" onclick="document.querySelector('.{{ i.class }}').open = !document.querySelector('.{{ i.class }}').open">
            <svg class="faq__icon-chevron-down" width="16" height="16" aria-hidden="true">
              <use href="/img/sprite.svg#chevron-down"></use>
            </svg>
            <svg class="faq__icon-chevron-up" width="16" height="16" aria-hidden="true">
              <use href="/img/sprite.svg#chevron-up"></use>
            </svg>
          </button>
        </summary>
        <p class="faq__answer">
          {{ i.faq_answer }}
        </p>
      </details>
    {% endfor %}
  </div>
</section>
