<section class="container section features-wrapper">
  <ul class="features">
    {% for i in features %}
      <li class="features__item">
        <div class="features__icon-wrapper">
          <svg class="features__icon" width="150" height="150" aria-hidden="true">
            <use href="{{ i.svg }}"></use>
          </svg>
        </div>
        <h3 class="features__title">{{ i.title }}</h3>
      </li>
    {% endfor %}
  </ul>
</section>
