@use "../../base/mixins" as *;

.categories {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include mq(tablet) {
    flex-direction: row;
    align-items: center;
  }

  &__info {
    @include mq(tablet) {
      order: 1;
      max-width: 440px;
    }

    @include mq(desktop) {
      max-width: 608px;
    }
  }

  &__tag {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__info-text {
    margin-bottom: 32px;
    color: var(--text-icons-elements-alt);
  }

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-flow: row;

    @include mq(tablet) {
      grid-template-columns: repeat(2, 210px);
    }

    @include mq(desktop) {
      grid-template-columns: repeat(2, 294px);
    }
  }

  &__item {
    height: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--bg-alt2);

    transition: background-color var(--transition);
  }

  &__item:hover {
    background-color: var(--accent-color);
  }

  &__item:nth-child(2) {
    margin-top: 70px;
  }

  &__item:nth-child(2n+3) {
    transform: translateY(-70px);
  }

  &__item:first-child::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: calc(100% + 20px);
    height: 50px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(0deg, var(--gradient) 0.2%, rgba(255, 255, 255, 0.00) 99.8%);
    pointer-events: none;
  }

  &__item:last-child::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    right: calc(100% + 20px);
    height: 50px;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(to bottom, var(--gradient) 0%, rgba(255, 255, 255, 0.00) 189.17%);
    pointer-events: none;
  }

  &__list > .categories__item:last-child:nth-child(2n+1)::before {
    bottom: 0;
    left: calc(100% + 20px);
    height: 160px;
  }

  &__icon {
    margin-bottom: 16px;
    color: var(--accent-color);
    transition: color var(--transition);
  }

  &__item:hover .categories__icon {
    color: var(--bg-base);
  }

  &__heading {
    margin-bottom: 8px;
    transition: color var(--transition);
  }

  &__item:hover .categories__heading {
    color: var(--bg-base);
  }

  &__text {
    color: var(--text-icons-elements-secondary2);
    font-size: 16px;
    transition: color var(--transition);
  }

  &__item:hover .categories__text {
    color: var(--text-icons-elements-secondary-invert);
  }
}
