@use "../../base/mixins" as *;

.features-wrapper {
  overflow: hidden;
}

.features {
  margin-inline: auto;
  display: flex;
  gap: 16px;
  overflow-x: auto;

  @include mq(desktop) {
    gap: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: transform var(--transition);
  }

  &__item:hover,
  &__item:focus {
    outline: none;
    transform: scale(0.92);
  }

  &__icon-wrapper {
    padding: 32px;
    box-sizing: border-box;
    width: 224px;
    border-radius: 20px;
    background-color: var(--bg-alt2);
    color: var(--accent-color);
    transition: box-shadow var(--transition);

    @include mq(tablet-only) {
      width: 176px;
      display: flex;
    }
  }

  &__item:hover .features__icon-wrapper,
  &__item:focus .features__icon-wrapper{
    outline: none;
    box-shadow: 0 0 10px 2px var(--accent-color);
  }

  &__title {
    color: var(--text-icons-elements-primary);
    font-family: var(--font-accent);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
}
