@use "../../base/mixins" as *;

.products {
  margin-bottom: 64px;

  @include mq(tablet) {
    margin-bottom: 120px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__tag {
    margin-bottom: 16px;
  }

  &__buttons-icon {
    display: flex;
    gap: 12px;

    @include mq(mobile-only) {
      @include visually-hidden
    }
  }

  &__list-wrapper {
    overflow: hidden;
  }

  &__list {
    display: flex;
    gap: 16px;
    overflow-y: hidden;
    overflow-x: auto;

    @include mq(desktop) {
      justify-content: center;
    }
  }

  &__item {
    transition: transform 300ms ease-in-out;
  }

  &__item:hover,
  &__item:focus {
    outline: none;
    transform: scale(0.97);
  }

  &__item:hover .product__overlay {
    transform: translate(0);
    opacity: 1;
  }
}

.product {
  &__img {
    object-fit: cover;
    border-radius: 20px;
    min-width: 305px;
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    border-radius: 16px;
    background: var(--fixed-neutral-color-secondary-2-white);
    outline: none;

    transform: translate(100%, 100%);
    opacity: 0;
    transition: transform var(--transition), opacity var(--transition);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__overlay-button {
    width: 209px;
  }

  &__svg-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 0 20px;
    background-color: var(--accent-color);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
  }

  &__price {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  &__text {
    color: var(--text-icons-elements-secondary2);
    font-size: 16px;
  }
}
