<div class="container footer-bottom">
  {% include "partials/footer/terms.njk" %}
  <div class="footer-bottom__text">
    <p class="footer-bottom__copyright">
      Copyright © 2025 Pixmart. All rights reserved.
    </p>
    <a class="footer-bottom__copyright-link" href="{{ my_github_link }}" title="Developer github link" target="_blank" aria-label="Developer github link">
      Developed with
      <svg class="footer-bottom__copyright-icon" width="36" height="36" aria-hidden="true">
        <use href="img/sprite.svg#heart"></use>
      </svg>
      by namhels
    </a>
  </div>
</div>
