@use "../../base/mixins" as *;

.contents {
  @include mq(mobile-tablet-only) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  @include mq(desktop) {
    gap: 24px;
  }
}

.filter {
  @include mq(desktop) {
    min-width: 217px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__button-reset {
    display: flex;
    gap: 8px;
    border: 2px solid var(--elements-seporator-bold);
    padding: 8px 20px;

    @include mq(mobile-tablet-only) {
      order: -1;
    }
  }

  &__button-submit {
    @include mq(desktop) {
      @include visually-hidden
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__item-title {
    margin-bottom: 24px;
    font-size: 24px;
  }

  &__label {
    color: var(--text-icons-elements-primary);
    font-size: 14px;
    line-height: 1.4;
  }

  &__range {
    display: flex;
    flex-direction: column;

    @include mq(mobile-tablet-only) {
      align-items: start;
    }
  }
}

// =============== <<< filter-drop >>> ==============

.filter {
  position: relative;

  @include mq(mobile-tablet-only) {
    width: 100%;
  }

  .filter--active & {
    position: absolute;
    inset: 0;
    background-color: var(--bg-base);
  }
}

.filter-opener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  @include mq(desktop) {
    @include visually-hidden;
  }

  .filter--active & {
    position: fixed;
    top: 24px;
    left: 16px;
    right: 16px;
    background-color: var(--bg-base);
    padding: 10px 24px;
  }
}

.filter-drop {
  position: fixed;
  top: 90px;
  left: 0;
  width: 0;
  height: 0;
  background: var(--bg-alt);
  z-index: 2;
  transition: all 1000ms ease-in-out;
  opacity: 0;
  overflow-y: auto;

  @include mq(desktop) {
    height: auto;
    width: 100%;
    background: none;
    position: static;
    opacity: 1;
  }

  .filter--active & {
    opacity: 1;
    left: 16px;
    right: 16px;
    bottom: 16px;
    width: unset;
    height: calc(100vh - 80px);
  }
}

.filter--active {
  overflow: hidden;
}
