<section class="contacts-info">
    <section class="contacts-info__hero">
      <h3 class="title-tag contacts-info__hero-tag">contact</h3>
      <h1 class="title-l contacts-info__hero-title">
        <p>Get in Touch</p>
        <p>with Us</p>
      </h1>
      <p class="contacts-info__hero-text">
        We are here to help you navigate your creative journey. Reach out for any questions, support, or feedback.
      </p>
      <button
        class="button"
        type="button"
        title="Shopping cart button"
        id="contacts-shop-now-btn"
        aria-labelledby="contacts-shop-now-btn">
        Shop Now
      </button>
    </section>
    <ul class="contacts-info__data">
      <li class="hover-underline contacts-info__data-item">
        <svg width="24" height="24" aria-hidden="true">
          <use href="img/sprite.svg#phone"></use>
        </svg>
        <a
          class="contacts-info__data-link"
          href="tel:+15551234567"
          title="Link to our phone"
          target="_blank"
          aria-label="Link to our phone">+1 (555) 123-4567</a>
      </li>
      <li class="hover-underline contacts-info__data-item">
        <svg width="24" height="24" aria-hidden="true">
          <use href="img/sprite.svg#mail"></use>
        </svg>
        <a
          class="contacts-info__data-link"
          href="mailto:support@pixmart.com"
          title="Link to our email"
          target="_blank"
          aria-label="Link to our email">support@pixmart.com</a>
      </li>
      <li class="hover-underline contacts-info__data-item">
        <svg width="24" height="24" aria-hidden="true">
          <use href="img/sprite.svg#clock"></use>
        </svg>
        <p class="contacts-info__data-link">Monday to Friday : 9 AM - 5 PM EST</p>
      </li>
    </ul>
    <section class="contacts-info__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11582.240154888728!2d33.962519867615!3d34.98618775527444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14dfcff1143ed39b%3A0x9179709f8392e055!2sNissi%20Island!5e1!3m2!1sru!2s!4v1748365260203!5m2!1sru!2s"
        class="contacts-info__map-element"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="contacts-info__location">
        <svg width="24" height="24" aria-hidden="true">
          <use href="img/sprite.svg#marker-pin"></use>
        </svg>
        <div class="contacts-info__location-data">
          <h4 class="contacts-info__location-title">PixMart HQ</h4>
          <p class="contacts-info__location-text">123 Creative Ave, Design City, 45678</p>
        </div>
      </div>
    </section>
  </section>
