<button class="button-icon js-burger" type="button" title="Navigation menu" aria-label="Burger menu">
  <div class="burger">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </div>
</button>
