<div class="button-icon js-burger">
  <button class="burger" type="button" title="Navigation menu" aria-label="Burger menu">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </button>
</div>
