<header class="container header">
  {% include "partials/header/burger.njk" %}
  {% include "partials/header/logo.njk" %}
  {% include "partials/header/nav.njk" %}
  {% include "partials/header/tools.njk" %}
</header>
