{% if title === "Pixmart" %}
  <div class="logo header__logo">
    <svg class="logo__icon" aria-label="Pixmart logo">
      <use href="/img/sprite.svg#logo"></use>
    </svg>
  </div>
  {% else %}
  <a class="logo header__logo" href="./index.html" aria-labelledby="nav-about">
    <svg class="logo__icon" aria-label="Pixmart logo">
      <use href="/img/sprite.svg#logo"></use>
    </svg>
  </a>
{% endif %}
