<div class="tools">
  <search class="search">
    <form class="search__form">
      <input class="search__input" type="search" name="search" placeholder="Search for Digital Assets" aria-label="Search for Digital Assets"/>
    </form>
    <button class="button-icon button-icon--secondary search__button" type="button" aria-label="Button of search form">
      <svg class="search__icon" width="24" height="24" aria-hidden="true">
        <use href="img/sprite.svg#search-md"></use>
      </svg>
    </button>
  </search>
  <button class="button-icon tools__bag" type="button" aria-label="Shopping bag">
    <svg class="tools__bag-icon" width="24" height="24" aria-hidden="true">
      <use href="img/sprite.svg#shopping-bag-02"></use>
    </svg>
  </button>
</div>
