<section class="container section blog">
  <picture class="blog__img-picture">
    <source srcset="/img/blog/office-1x.webp 1x, /img/blog/office-2x.webp 2x" type="image/webp"/>
    <img class="blog__img" src="/img/blog/office-1x.webp" alt="Man in lecture hall showing graphs on stand" loading="lazy"/>
  </picture>
  {% include "partials/blog-page/post-article.njk" %}
</section>
