<section class="container blog-hero">
  <h2 class="blog-hero__tag">typography</h2>
  <h1 class="title title--hero">
    Mastering the Art of Typography:
    <br>
    Tips for Eye-Catching Designs for 2025
  </h1>
</section>
