<section class="container blog-hero">
  <h3 class="blog-hero__tag">typography</h3>
  <h1 class="title catalog-hero__title">
    <p>Mastering the Art of Typography:</p>
    <p>Tips for Eye-Catching Designs for 2025</p>
  </h1>
</section>
