<section class="container section contents">
  <h2 class="visually-hidden">contents</h2>
  {% include "partials/catalog-page/sidebar.njk" %}
  {% include "partials/catalog-page/catalog.njk" %}
</section>
