{% extends "layouts/base.njk" %}
{% block content %}
  <main>
    {% include "partials/blog-page/blog-hero.njk" %}
    {% include "partials/blog-page/blog.njk" %}
    {% include "partials/blog-page/blog-articles.njk" %}
  </main>
{% endblock %}
